@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

html, body, h1, h2, h3, h4, h5, h6, p, a, img, main, section, article, div, span, footer{
    margin:0;
    padding:0;
    font-family: 'Open Sans', Arial;
}
* {
    box-sizing:border-box;
}
body{
    position:relative;
    min-height:100vh;
    
}

.heading
{
    text-align: center;
    padding: 1%;
    font-size: 5rem;
}
footer{
    width:100vw;
    height:10vh;
    display:grid;
    place-items:center;
    background-color:#111;
    position:absolute;
    bottom:0;
}
footer h1{
    font-weight:300;
    color:#eee;
    text-transform: uppercase;
}

footer h1 a {
    color: #4285F4;
    text-decoration: none;
    padding: 0 1rem;
}



input {
    width:30vw;
    display:block;
    margin: 0 auto;
    line-height:1.5rem;
    padding:.2rem;
    text-align: center;
    border-radius:8px;
    border:1px solid gray;
    min-width: 80%;
}

main{
    display:grid;
    padding:1rem;
    grid-template-columns: repeat( auto-fit, minmax(270px, 1fr) );
    gap:2rem;
    padding:2rem;
    padding-bottom:12vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
.btn
{
    display: flex;
    justify-content: center;
    align-content: center;
    float: inline-start;
    margin-top: 15px;
}
article{

    transform-origin: center;
    padding:1rem;
    background-color: #eee;
}
article img{
    width:100%;
    max-width: 100%;
}

.info{
    padding:1rem;
}

.info h2{
    text-align:center;
}
.info ul{
    margin:auto;
    padding:1rem;
    list-style: none;
    text-transform: capitalize;
    font-size:1rem;
    
}

.info ul li
{
    
    width: 100%;
    
}

@media (max-width:991px) 
{
    footer h1
    {
        font-size: medium;
    }

}
